.env

__pycache__/


# =========================================
#  Python 기본 캐시 및 빌드 파일
# =========================================
__pycache__/
*.py[cod]
*$py.class

# C 확장 모듈
*.so

# 가상환경 관련
.venv/
venv/
ENV/
env/
env.bak/
*.env

# =========================================
#  패키징 / 빌드 아티팩트
# =========================================
# 패키징 디렉토리
build/
dist/
*.egg-info/
.eggs/

# 파이썬 배포 패키지
*.egg

# PyInstaller
# 일반적으로 spec 파일 및 dist 폴더 생성됨
*.spec

# =========================================
#  테스트 및 커버리지 관련
# ====…

minwon_front/
react_test/